
.champion-grid-item,.checkbox-grid{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding:15px 0px;
}

.champion-grid-item{
  text-align:center;
  border:2px solid rgba(255, 255, 255, 0.66);
  box-sizing: border-box;
}

.champion-grid-item img{
  width:100px;
  height:100px;
}

.container{
  padding:35px 15px;
  background-color:rgba(0, 0, 0 ,.7);
  color:white;
}

.filter{
  margin-bottom:25px;
}



