<div class="container">
    <div class="col-xs-12 filter">
        <h2>Filters</h2>

        <div class="col-xs-2 checkbox-grid">
            <input type=checkbox [(ngModel)]=filterSelect.assassins>Assassins
        </div>

        <div class="col-xs-2 checkbox-grid">
            <input type=checkbox [(ngModel)]=filterSelect.fighters>Fighters
        </div>

        <div class="col-xs-2 checkbox-grid">
            <input type=checkbox [(ngModel)]=filterSelect.mages>Mages
        </div>

        <div class="col-xs-2 checkbox-grid">
            <input type=checkbox [(ngModel)]=filterSelect.tanks>Tanks
        </div>

        <div class="col-xs-2 checkbox-grid">
            <input type=checkbox [(ngModel)]=filterSelect.supports>Supports
        </div>

        <div class="col-xs-2 checkbox-grid">
            <input type=checkbox [(ngModel)]=filterSelect.marksmen>Marksmen
        </div>
    </div>
<ul class="champions" class="col-xs-12">

    <div *ngIf="filterSelect.assassins == true">
        <li *ngFor="let champion of championObject['Assassins']" class="col-xs-2 champion-grid-item" (click)="gotoDetail(champion)">
            <img src = "http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champion.image.full}}"/>
            <span>{{champion.name}}</span>
        </li>
    </div>

    <div *ngIf="filterSelect.fighters == true">
        <li *ngFor="let champion of championObject['Fighters']" class="col-xs-2 champion-grid-item" (click)="gotoDetail(champion)">
            <img src = "http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champion.image.full}}"/>
            <span>{{champion.name}}</span>
        </li>
    </div>

    <div *ngIf="filterSelect.assassins == true">
        <li *ngFor="let champion of championObject['Assassins']" class="col-xs-2 champion-grid-item" (click)="gotoDetail(champion)">
            <img src = "http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champion.image.full}}"/>
            <span>{{champion.name}}</span>
        </li>
    </div>

    <div *ngIf="filterSelect.mages == true">
        <li *ngFor="let champion of championObject['Mages']" class="col-xs-2 champion-grid-item" (click)="gotoDetail(champion)">
            <img src = "http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champion.image.full}}"/>
            <span>{{champion.name}}</span>
        </li>
    </div>

    <div *ngIf="filterSelect.tanks == true">
        <li *ngFor="let champion of championObject['Tanks']" class="col-xs-2 champion-grid-item" (click)="gotoDetail(champion)">
            <img src = "http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champion.image.full}}"/>
            <span>{{champion.name}}</span>
        </li>
    </div>

    <div *ngIf="filterSelect.supports == true">
        <li *ngFor="let champion of championObject['Supports']" class="col-xs-2 champion-grid-item" (click)="gotoDetail(champion)">
            <img src = "http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champion.image.full}}"/>
            <span>{{champion.name}}</span>
        </li>
    </div>

    <div *ngIf="filterSelect.marksmen == true">
        <li *ngFor="let champion of championObject['Marksmen']" class="col-xs-2 champion-grid-item" (click)="gotoDetail(champion)">
            <img src = "http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champion.image.full}}"/>
            <span>{{champion.name}}</span>
        </li>
    </div>

</ul>
</div>
